<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista de Productos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lista de Productos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content color="light">
    <ion-list [inset]="true">
      <ion-item (click)="detalle_producto(producto)" *ngFor="let producto of productos">
        <ion-label>{{producto.nombre}}</ion-label>
      </ion-item>
    </ion-list>
    <ion-button *ngIf="isAdmin" (click)="agregarProducto()">Agregar Producto</ion-button>

  </ion-content>

</ion-content>

